html, body, #root {
  min-width: 960px;
  min-height: 800px;
  height: 100%;
}

body {
  margin: 0;
}

.tx-center {
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 30px;
}
